@media (max-width: 1024px) {

    .menu {
        position: relative;
        display: block;
        z-index: 1;
        
    }
    .nav-list {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--red);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a {
        opacity: 0;
    }

    .nav.active .nav-list {

        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .menu {
        position: absolute;
        z-index: 2;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .menu::before {
        transform: rotate(135deg);
    }
    .nav.active .menu::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .item-menu:hover {
        color: var(--warning);
        border-bottom: 1px solid black;
    }

    .search-box {
        position: absolute;
        z-index: 1;
        top: 55px;
        right: 9%;
        transform: translate(-23px, -9%);
    
        background: #fff;
        border-radius: 40px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ::-webkit-input-placeholder {
        font-size: 17px;
        font-family: sans-serif;
        color: #aeaeae;
    }
    
    .search-text {
        top: 23px;
        background: none;
        border: 0;
        outline: 0;
        
        font-size: 16px;
    
        transition: 0.4s;
    
        width: 0 ;
    }
    
    .search-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:  pointer;
        font-size: 20px;
        color: var(--red);
    }
    
    .search-text:not(:placeholder-shown),
    .search-box:hover >.search-text {
        width: 130px;
        padding-left: 20px;
        
    }
    
    .search-text:not(:placeholder-shown) + .search-btn,
    .search-box:hover > .search-btn {
        color: white;
        background-color: var(--red);
    }
    .container .row p {
        display: flex;
        position: fixed;
        width: 100%;
        height: 30px;
        color: var(--red);
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        background-color: var(--warning);
        bottom: 1px ;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
    }
    .create:hover {
        font-size: 15px;
        color: black;
        text-decoration: underline;
    }
}
@media (max-width: 320px) {

    .menu {
        position: relative;
        display: block;
        z-index: 1;
        
    }
    .nav-list {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--red);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }
    .nav-list a {
        opacity: 0;
    }

    .nav.active .nav-list {

        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .menu {
        position: absolute;
        z-index: 2;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .menu::before {
        transform: rotate(135deg);
    }
    .nav.active .menu::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .item-menu:hover {
        color: var(--warning);
        border-bottom: 1px solid black;
    }

    .search-box {
        position: absolute;
        z-index: 1;
        top: 55px;
        right: 9%;
        transform: translate(-23px, -9%);
    
        background: #fff;
        border-radius: 40px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ::-webkit-input-placeholder {
        font-size: 17px;
        font-family: sans-serif;
        color: #aeaeae;
    }
    
    .search-text {
        top: 23px;
        background: none;
        border: 0;
        outline: 0;
        
        font-size: 16px;
    
        transition: 0.4s;
    
        width: 0 ;
    }
    
    .search-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:  pointer;
        font-size: 20px;
        color: var(--red);
    }
    
    .search-text:not(:placeholder-shown),
    .search-box:hover >.search-text {
        width: 130px;
        padding-left: 20px;
        
    }
    
    .search-text:not(:placeholder-shown) + .search-btn,
    .search-box:hover > .search-btn {
        color: white;
        background-color: var(--red);
    }
    .container .row p {
        display: flex;
        position: fixed;
        width: 100%;
        height: 30px;
        color: var(--red);
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        background-color: var(--warning);
        bottom: 1px ;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
    }
    .create:hover {
        font-size: 8px;
        color: black;
        text-decoration: underline;
    }
}