@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

:root {

    --base: #000000;
    --base-2: #383837;
    --base-3: #353433;
    --base-4: #706b6a;

     --blue: #0d6efd;
    --bindigo: #6610f2;
    --discord: #7289d9;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --bcyan: #0dcaf0;
    --black: #1b1b1b;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

* {
    color: var(--white);
    transition: .05s all ease;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    background-color: black;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{  
    all: unset;
    cursor: pointer;
    text-decoration: none;
    transition: .5s all ease;
}

.text-color-white {
    color: var(--white);
}

.swiper {
    width: 100%;
    height: 100%;
}

.btn-all{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    border: 2px solid var(--gray-dark);
    background-color: transparent;
    cursor: pointer;
} 

.btn-all[aria-disabled="true"]{
    opacity: 0.5;
    pointer-events: none;
}
